tensorflow==2.19.0
numpy==1.24.4
pandas==2.2.2
scipy==1.15.1
opencv-python-headless==4.9.0.80
easyocr==1.7.2
scikit-image==0.22.0
matplotlib==3.8.4
lap==0.5.12
Pillow==10.0.0
fastapi==0.115.13
pymongo==4.13.2
python-dotenv==1.1.0
torch==2.6.0
ultralytics==8.3.82
uvicorn==0.34.0
git+https://github.com/rlabbe/filterpy.git
